@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1 class="display-4">Kullanılabilir API uçları</h1>
    <ul>
        <li>
            <a href="/token">Token alma</a>
        </li>
    </ul>
</div>